* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 30px;
}

.main-container {
  height: 100vh;
}

.title {
  color: #1f1235;
  font-weight: bold;
}

.question-text,
.answer-text {
  background-color: #e2daeb;
  border-radius: 15px;
  line-height: normal;
}

.jul,
.answer-button,
.congrats-button {
  margin: 20px 10px;
  color: white;
  background-color: #ff6e6c;
  padding: 10px;
  border-radius: 15px;
  border: none;
  height: 56px;
  width: 200px;
}
.start-button {
  color: white;
}
.score-container {
  background-color: #301e4e;
  height: 90vh;
}
.congrats-title {
  color: white;
  font-weight: 800;
}
.congrats-p {
  font-weight: 600;
  color: #ff6e6c;
}
